In [1]:
## Se importa la libería Quandl que permite conexión al Wikipedia de los datos
import quandl
quandl.ApiConfig.api_key = 'HLg2yzJzsQP2mw6o-epz'
import pandas as pd

## Ptrecios de petroleo y monedas

In [2]:
##Captura de las variables explicatorias únicamente
##Precios del petrolo de la OPEC
opec_petroleum_prices = quandl.get('OPEC/ORB')## Lamar la serie de tiempo
opec_petroleum_prices.rename(columns={'Value': 'Precio_petroleo_OPEC'}, inplace=True) ##Renombrar para cuando arme el dataset
opec_petroleum_prices.tail()## mostrar que se cuenta con datos actuales

            Precio_petroleo_OPEC
Date
2020-01-31                 58.94
2020-02-03                 55.51
2020-02-04                 54.66
2020-02-05                 54.99
2020-02-06                 55.72

In [3]:
opec_petroleum_prices= opec_petroleum_prices.resample('M').mean() ##Cálculo del promedio mensual
opec_petroleum_prices.tail()

            Precio_petroleo_OPEC
Date
2019-10-31             59.908696
2019-11-30             62.944762
2019-12-31             66.479048
2020-01-31             65.103636
2020-02-29             55.220000

In [4]:
## La oferta de monedas es un determinante de los precios de los bienes
eur_usd = quandl.get("FED/RXI_US_N_M_EU") ##Dolar USA
eur_usd.rename(columns={'Value': 'eur_usd'}, inplace=True)

yuan_usd = quandl.get("FED/RXI_N_M_CH") #Yuan China
yuan_usd.rename(columns={'Value': 'yuan_usd'}, inplace=True)

In [5]:
####Mergear los datos de producción y oferta de crudo de los principales países
monedas = pd.merge(eur_usd, yuan_usd, on= 'Date')
monedas.tail()

            eur_usd  yuan_usd
Date
2019-09-30   1.1011    7.1137
2019-10-31   1.1058    7.0961
2019-11-30   1.1051    7.0199
2019-12-31   1.1114    7.0137
2020-01-31   1.1098    6.9184

In [6]:
####Mergear los datos de producción y oferta de crudo de los principales países
precios = pd.merge(monedas, opec_petroleum_prices, on= 'Date')
precios.tail()

            eur_usd  yuan_usd  Precio_petroleo_OPEC
Date
2019-09-30   1.1011    7.1137             62.356667
2019-10-31   1.1058    7.0961             59.908696
2019-11-30   1.1051    7.0199             62.944762
2019-12-31   1.1114    7.0137             66.479048
2020-01-31   1.1098    6.9184             65.103636

In [7]:
##Exporto lo construido a Excel para facilitar ensayos
outputFile = "Data/precios.xlsx" ##Imprimiendo el conjunto de datos
precios.to_excel(outputFile) # Only argument is a string of the output file path

## Niveles de producción

In [8]:
## Refinación de Fuel Oil en Canadá
refineryOutput_fuelOil_canada = quandl.get('JODI/OIL_RSROKB_CAN')
refineryOutput_fuelOil_canada.rename(columns={'Value': 'Refinación_fuelOil_canada'}, inplace=True)
refineryOutput_fuelOil_canada = refineryOutput_fuelOil_canada.drop(['Notes'], axis=1)
refineryOutput_fuelOil_canada.tail()

            Refinación_fuelOil_canada
Date
2019-07-31                    3003.66
2019-08-31                    2870.46
2019-09-30                    2484.18
2019-10-31                    2244.42
2019-11-30                    2544.12

In [9]:
### Producción de gas natural en Rusia
produccion_rusia_gas = quandl.get('JODI/OIL_NGPRKB_RUS')
produccion_rusia_gas.rename(columns={'Value': 'Produccion_gas_RUSIA'}, inplace=True)
produccion_rusia_gas = produccion_rusia_gas.drop(['Notes'], axis=1)
produccion_rusia_gas.tail()

            Produccion_gas_RUSIA
Date
2019-07-31            22135.7855
2019-08-31            22113.5379
2019-09-30            23612.0013
2019-10-31            25285.6921
2019-11-30            25066.3565

In [10]:
## Refinación de gasolina tipo motor en Arabia
refineryOutput_motor_arabia = quandl.get('JODI/OIL_GSROKB_SAU')
refineryOutput_motor_arabia.rename(columns={'Value': 'Refinación_Motor_ARABIA'}, inplace=True)
refineryOutput_motor_arabia = refineryOutput_motor_arabia.drop(['Notes'], axis=1)
refineryOutput_motor_arabia.tail()

            Refinación_Motor_ARABIA
Date
2019-07-31                  14384.0
2019-08-31                  18848.0
2019-09-30                  17910.0
2019-10-31                  17980.0
2019-11-30                  17190.0

In [11]:
##Oferta Diesel

##Alemania
refineryOutput_diesel_alemania = quandl.get('JODI/OIL_GDROKB_DEU')
refineryOutput_diesel_alemania.rename(columns={'Value': 'Refinación_diesel_alemania'}, inplace=True)
refineryOutput_diesel_alemania = refineryOutput_diesel_alemania.drop(['Notes'], axis=1)

##USA
refineryOutput_diesel_usa = quandl.get('JODI/OIL_GDROKB_USA')
refineryOutput_diesel_usa.rename(columns={'Value': 'Refinación_diesel_USA'}, inplace=True)
refineryOutput_diesel_usa = refineryOutput_diesel_usa.drop(['Notes'], axis=1)

###Canadá
refineryOutput_diesel_canada = quandl.get('JODI/OIL_GDROKB_CAN')
refineryOutput_diesel_canada.rename(columns={'Value': 'Refinación_diesel_canada'}, inplace=True)
refineryOutput_diesel_canada= refineryOutput_diesel_canada.drop(['Notes'], axis=1)

###China
refineryOutput_diesel_china = quandl.get('JODI/OIL_GDROKB_CHN')
refineryOutput_diesel_china.rename(columns={'Value': 'Refinación_diesel_china'}, inplace=True)
refineryOutput_diesel_china= refineryOutput_diesel_china.drop(['Notes'], axis=1)


####Mergear los datos de producción y oferta de diesel de los principales países
mg1 = pd.merge(refineryOutput_diesel_alemania, refineryOutput_diesel_usa, on= 'Date')
mg2 = pd.merge(mg1, refineryOutput_diesel_china, on= 'Date')
oferta_diesel= pd.merge(mg2, refineryOutput_diesel_canada, on = 'Date')


##Adiciono columna con el total
oferta_diesel['Muestra_diesel'] = oferta_diesel['Refinación_diesel_alemania'] + oferta_diesel['Refinación_diesel_USA'] + oferta_diesel['Refinación_diesel_china'] + oferta_diesel['Refinación_diesel_canada']
oferta_diesel['Muestra_diesel'] = oferta_diesel['Muestra_diesel'].astype(int)

###Muestro el dataser completo
oferta_diesel.tail()

,Refinación_diesel_alemania,Refinación_diesel_USA,Refinación_diesel_china,Refinación_diesel_canada,Muestra_diesel
Date,,,,,
2019-07-31,27102.18,159689.0,98038.80,19962.96,304792
2019-08-31,26303.96,160480.0,97706.22,22372.54,306862
2019-09-30,25483.36,148403.0,104473.50,21186.40,299546
2019-10-31,27497.56,145635.0,106599.12,22066.68,301798
2019-11-30,25684.78,159092.0,0.00,20791.02,205567

In [12]:
##Llamando y renombrando los datos de niveles de producción de crudo


##Rusia
produccion_rusia_crudo = quandl.get('JODI/OIL_CRPRKB_RUS')
produccion_rusia_crudo.rename(columns={'Value': 'Produccion_crudo_RUSIA'}, inplace=True)
produccion_rusia_crudo = produccion_rusia_crudo.drop(['Notes'], axis=1)

##Arabia Saudita
produccion_arabia_crudo = quandl.get('JODI/OIL_CRPRKB_SAU')
produccion_arabia_crudo.rename(columns={'Value': 'Produccion_crudo_ARABIA'}, inplace=True)
produccion_arabia_crudo = produccion_arabia_crudo.drop(['Notes'], axis=1)

##China
produccion_china_crudo = quandl.get('JODI/OIL_CRPRKB_CHN')
produccion_china_crudo.rename(columns={'Value': 'Produccion_crudo_CHINA'}, inplace=True)
produccion_china_crudo = produccion_china_crudo.drop(['Notes'], axis=1)

##Canadá
produccion_canada_crudo = quandl.get('JODI/OIL_CRPRKB_CAN')
produccion_canada_crudo.rename(columns={'Value': 'Produccion_crudo_CANADA'}, inplace=True)
produccion_canada_crudo = produccion_canada_crudo.drop(['Notes'], axis=1)

##USA
produccion_usa_crudo = quandl.get('JODI/OIL_CRPRKB_USA')
produccion_usa_crudo.rename(columns={'Value': 'Produccion_crudo_USA'}, inplace=True)
produccion_usa_crudo = produccion_usa_crudo.drop(['Notes'], axis=1)


####Mergear los datos de producción y oferta de crudo de los principales países
mg1 = pd.merge(produccion_arabia_crudo, produccion_canada_crudo, on= 'Date')
mg2 = pd.merge(mg1, produccion_china_crudo, on = 'Date')
mg3= pd.merge(mg2, produccion_rusia_crudo, on= 'Date')
oferta_crudo = pd.merge(mg3, produccion_usa_crudo, on = 'Date')




### Adicionar una columna con la suma del total de los datos

oferta_crudo['Muestra_crudo'] = oferta_crudo['Produccion_crudo_ARABIA'] + oferta_crudo['Produccion_crudo_CANADA'] + oferta_crudo['Produccion_crudo_CHINA'] + oferta_crudo['Produccion_crudo_RUSIA'] + oferta_crudo['Produccion_crudo_USA']
oferta_crudo['Muestra_crudo'] = oferta_crudo['Muestra_crudo'].astype(int)

##Mostrar el conjunto de datos
oferta_crudo.tail()

,Produccion_crudo_ARABIA,Produccion_crudo_CANADA,Produccion_crudo_CHINA,Produccion_crudo_RUSIA,Produccion_crudo_USA,Muestra_crudo
Date,,,,,,
2019-07-31,296980.0,113515.80,119220.84,328813.2000,366514.0,1225043
2019-08-31,303459.0,113860.44,118452.24,333962.4000,383936.0,1253670
2019-09-30,273870.0,114470.74,114506.76,319986.0000,374517.0,1197350
2019-10-31,319362.0,113566.06,117947.16,328988.1625,392305.0,1272168
2019-11-30,296700.0,100520.00,0.00,319024.9460,398248.0,1114492

In [13]:
### Construcción de dataser completo

mg1= pd.merge(oferta_crudo, oferta_diesel, on= 'Date')
mg2= pd.merge(mg1, refineryOutput_fuelOil_canada, on= 'Date')
mg3= pd.merge(mg2, produccion_rusia_gas, on= 'Date')
niveles_pdn= pd.merge(mg3, refineryOutput_motor_arabia, on= 'Date')
niveles_pdn.tail()

,Produccion_crudo_ARABIA,Produccion_crudo_CANADA,Produccion_crudo_CHINA,Produccion_crudo_RUSIA,Produccion_crudo_USA,Muestra_crudo,Refinación_diesel_alemania,Refinación_diesel_USA,Refinación_diesel_china,Refinación_diesel_canada,Muestra_diesel,Refinación_fuelOil_canada,Produccion_gas_RUSIA,Refinación_Motor_ARABIA
Date,,,,,,,,,,,,,,
2019-07-31,296980.0,113515.80,119220.84,328813.2000,366514.0,1225043,27102.18,159689.0,98038.80,19962.96,304792,3003.66,22135.7855,14384.0
2019-08-31,303459.0,113860.44,118452.24,333962.4000,383936.0,1253670,26303.96,160480.0,97706.22,22372.54,306862,2870.46,22113.5379,18848.0
2019-09-30,273870.0,114470.74,114506.76,319986.0000,374517.0,1197350,25483.36,148403.0,104473.50,21186.40,299546,2484.18,23612.0013,17910.0
2019-10-31,319362.0,113566.06,117947.16,328988.1625,392305.0,1272168,27497.56,145635.0,106599.12,22066.68,301798,2244.42,25285.6921,17980.0
2019-11-30,296700.0,100520.00,0.00,319024.9460,398248.0,1114492,25684.78,159092.0,0.00,20791.02,205567,2544.12,25066.3565,17190.0

In [14]:
### Exportar a Excel los datos de producción

##Exporto lo construido a Excel para facilitar ensayos
outputFile = "Data/produccion.xlsx" ##Imprimiendo el conjunto de datos
niveles_pdn.to_excel(outputFile) # Only argument is a string of the output file path